doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH", crossorigin="anonymous")
  body.d-flex.flex-column.min-vh-100.bg-light
  block nav
    header.d-flex
      nav.navbar.min-vw-100.shadow.navbar-expand-lg.navbar-light(style="background-color: #d7fae3")
        .container
          a(class="navbar-brand" href="/") Main page
  .container.wrapper.flex-grow-1.flex-direction-column.flex-item-center
    block content
    block footer
  footer.min-vw-100(style="background-color: #757571")
    .container.my-4
      a(href="https://github.com/AlexeyChi").link-light.link-offset-2.link-underline-opacity-25.link-underline-opacity-100-hover AlexeyChi
